@media (max-width: 1400px) {
  .header .header__logo-link {
    margin-left: -20px;
  }
  .nav__link {
    font-size: 24px;
  }
}

@media (max-width: 1260px) {
  .nav__link {
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
  }
  .header .header__logo-link {
    margin-left: 0;
  }
  .header__nav {
    margin-right: auto;
  }
  .content__title {
    font-size: 38px;
  }
  .content__btn {
    font-size: 30px;
  }
}

@media (max-width: 1160px) {
  .nav__link {
    font-size: 15px;
  }
  .btn {
    font-size: 15px;
  }
  .header__logo-img {
    width: 130px;
  }
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .btn {
    border-radius: 5px;
    padding: 8px 28px;
  }
  .content__title {
    font-size: 34px;
  }
  .content__text {
    font-size: 16px;
  }
  .content__btn {
    font-size: 25px;
  }
  .hero {
    background-position: left calc(50% + 400px) bottom -50px;
  }
}

@media (max-width: 870px) {
  .header__logo-img {
    width: 110px;
  }
  .nav__link {
    font-size: 13px;
  }
  .btn {
    padding: 4px 21px;
    font-size: 13px;
  }
  .content {
    padding: 130px 0 100px 0;
  }
  .content__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .content__btn {
    font-size: 20px;
  }
  .content__btn:first-child {
    margin-right: 35px;
  }
  .hero {
    background-position: left calc(50% + 323px) bottom -80px;
  }
}

@media (max-width: 770px) {
  .nav__item:not(:last-child) {
    margin-right: 17px;
  }
  .header__logo-img {
    width: 100px;
  }
  .btn {
    padding: 3px 17px;
    font-size: 13px;
  }
  .content {
    padding: 100px 0 100px 0;
  }
  .content__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .content__btn {
    font-size: 15px;
    padding: 0px 20px;
  }
  .content__btn:first-child {
    margin-right: 30px;
  }
  .hero {
    background-position: left calc(50% + 285px) bottom -150px;
  }
}

@media (max-width: 700px) {
  .header__nav {
    display: none;
  }
  .btn {
    display: none;
  }
  .header__burger,
  .header__phone {
    display: block;
  }
  .header__logo-img {
    width: 80px;
  }
  .content {
    width: 100%;
    text-align: center;
    padding: 100px 0 100px 0;
  }
  .content__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .content__btn {
    font-size: 15px;
    padding: 0px 20px;
  }
  .content__btn:first-child {
    margin-right: 30px;
  }
  .hero {
    min-height: 900px;
    background-position: left calc(50% + 285px) bottom -150px;
  }
  .content__btns {
    justify-content: center;
  }
}
