@media (max-width: 1400px) {
  .header .header__logo-link {
    margin-left: -20px;
  }
  .nav__link {
    font-size: 24px;
  }
}

@media (max-width: 1260px) {
  .nav__link {
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
  }
  .header .header__logo-link {
    margin-left: 0;
  }
  .header__nav {
    margin-right: auto;
  }
  .content__title {
    font-size: 38px;
  }
  .content__btn {
    font-size: 30px;
  }
}

@media (max-width: 1160px) {
  .nav__link {
    font-size: 15px;
  }
  .btn {
    font-size: 15px;
  }
  .header__logo-img {
    width: 130px;
  }
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .btn {
    border-radius: 5px;
    padding: 8px 28px;
  }
  .content__title {
    font-size: 34px;
  }
  .content__text {
    font-size: 16px;
  }
  .content__btn {
    font-size: 25px;
  }
  .hero {
    background-position: left calc(50% + 335px) bottom -59px;
    background-size: contain;
  }
}

@media (max-width: 870px) {
  .header__logo-img {
    width: 110px;
  }
  .nav__link {
    font-size: 13px;
  }
  .btn {
    padding: 4px 21px;
    font-size: 13px;
  }
  .content {
    padding: 130px 0 100px 0;
  }
  .content__title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .content__btn {
    font-size: 20px;
  }
  .content__btn:first-child {
    margin-right: 35px;
  }
  .hero {
    background-position: left calc(50% + 300px) bottom -50px;
  }
}

@media (max-width: 770px) {
  .nav__item:not(:last-child) {
    margin-right: 17px;
  }
  .header__logo-img {
    width: 100px;
  }
  .btn {
    padding: 3px 17px;
    font-size: 13px;
  }
  .content {
    padding: 100px 0 100px 0;
  }
  .content__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .content__btn {
    font-size: 15px;
    padding: 0px 20px;
  }
  .content__btn:first-child {
    margin-right: 30px;
  }
  .hero {
    background-position: left calc(50% + 243px) bottom -41px;
  }
}

@media (max-width: 700px) {
  .header__nav {
    display: none;
  }
  .btn {
    display: none;
  }
  .header__burger,
  .header__phone {
    display: block;
  }
  .header__logo-img {
    width: 80px;
  }
  .content {
    width: 100%;
    text-align: center;
    padding: 0 0 65px 0;
  }
  .content__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .content__text {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .content__btn {
    font-size: 15px;
    padding: 0px 20px;
  }
  .content__btn:first-child {
    margin-right: 30px;
  }
  .hero {
    min-height: 1070px;
    background-position: center top 60px;
    display: flex;
    align-items: flex-end;
  }
  .content__btns {
    justify-content: center;
  }

  /* MOBILE MODAL WINDOW */

  .mobile {
    display: block;
    transform: translateY(-1000px);
  }
  .mobile.active {
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 980px;
    background-position: center top 60px;
    background-size: contain;
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 500px) {
  .hero {
    min-height: 915px;
  }
}

@media (max-width: 400px) {
  .hero {
    min-height: 800px;
    background-position: center top 45px;
  }
  .content__title {
    margin-bottom: 20px;
  }
  .content__btn {
    font-size: 13px;
    line-height: 2;
  }
}

@media (max-width: 320px) {
  .hero {
    min-height: 715px;
  }
  .content__title {
    font-size: 25px;
  }
  .content__text {
    font-size: 13px;
  }
  .content {
    padding-bottom: 55px;
  }
  .content__btn:first-child {
    margin-right: 10px;
  }
}
