/* CUSTOM PROPERTIES */

:root {
  --white: #fff;
  --black: #000;
  --hero-bg: #fafafa;
  --btn-bg-color: #6347eb;
  --main-color: #5855e7;
}

/* FONTS */

@font-face {
  font-family: "Glory";
  src: url("../fonts/Glory-Light.woff2") format("woff2"),
    url("../fonts/Glory-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glory";
  src: url("../fonts/Glory-Bold.woff2") format("woff2"),
    url("../fonts/Glory-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glory";
  src: url("../fonts/Glory-SemiBold.woff2") format("woff2"),
    url("../fonts/Glory-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glory";
  src: url("../fonts/Glory-Medium.woff2") format("woff2"),
    url("../fonts/Glory-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glory";
  src: url("../fonts/Glory-Regular.woff2") format("woff2"),
    url("../fonts/Glory-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: unset;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  color: var(--black);
  flex-direction: column;
  background-color: var(--white);
  font-family: "Glory", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

/* CONTAINER */

.container {
  width: 100%;
  margin-left: auto;
  max-width: 1204px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* PLACEHOLDER STYLE */

/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--grey);
} */

/* AUTOFILL STYLES */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
} */

/* ELEMENT HIDER */

.visually-hidden {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* LINK ACTIVE STATES */

.click:active {
  transform: translateY(2px);
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

/* HEADER */

.header {
  padding: 16px 0;
  background-color: var(--main-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: flex;
  margin-right: auto;
  margin-left: -43px;
}

.header__logo-img {
  width: 156px;
  height: 111px;
}

.header__nav {
  margin-right: 72px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 42px;
}
.nav__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: var(--white);
}

.btn {
  font-size: 24px;
  line-height: 28px;
  border-radius: 5px;
  padding: 11px 34px;
  color: var(--black);
  border: 3px solid transparent;
  background-color: var(--white);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  color: var(--white);
  border-color: var(--white);
  background-color: var(--main-color);
}

.header__burger,
.header__phone {
  display: none;
}

/* HERO */

.hero {
  background-color: var(--hero-bg);
  background-image: url("../img/ребенок.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero__container {
  display: flex;
}

.hero__content {
  width: 50%;
}

.content {
  width: 50%;
  padding: 180px 0 142px 0;
}

.content__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
}

.hero__bold {
  color: var(--main-color);
}

.content__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 50px;
}

.content__btns {
  display: flex;
}

.content__btn {
  font-size: 32px;
  line-height: 38px;
  padding: 5px 32px;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.content__btn:first-child {
  margin-right: 40px;
}

.active,
.content__btn:hover {
  background-color: var(--btn-bg-color);
  color: var(--white);
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
